<section class="breadcrumbs py-2">
  <div class="breadcrumb__item">
    <p class="mb-0 fs-5">
      Videos
    </p>
  </div>
  <div class="breadcrumb__item">
    <p class="mb-0 fs-5">
      People
    </p>
  </div>
  <div class="breadcrumb__item">
    <p class="mb-0 fs-5">
      Events
    </p>
  </div>
  <div class="breadcrumb__item">
    <p class="mb-0 fs-5">
      Communities
    </p>
  </div>
  <div class="breadcrumb__item">
    <p class="mb-0 fs-5">
      Favorites
    </p>
  </div>
  <div class="breadcrumb__item">
    <p class="mb-0 fs-5">
      Channels
    </p>
  </div>
</section>