<footer class="app-footer">
  <div class="container-lg">
    <div class="app-footer__container py-4">
      <div class="d-flex flex-column align-items-start">
        <div class="d-flex align-items-center gap-3">
          <a href="https://twitter.com/" class="btn app-footer__link">
            <fa-icon [icon]="twitterIcon"></fa-icon>
          </a>
          <a href="https://linkedin.com/" class="btn app-footer__link">
            <fa-icon [icon]="linkedInIcon"></fa-icon>
          </a>
          <a href="https://facebook.com/" class="btn app-footer__link">
            <fa-icon [icon]="fbIcon"></fa-icon>
          </a>
        </div>
      </div>
      <app-footer-breadcrumbs></app-footer-breadcrumbs>
      <p class="app-footer__text fs-6">
        &copy; Copyright 2023 companyname .inc
      </p>
    </div>
  </div>
</footer>