<section class="footer-breadcrumbs py-2">
  <div class="footer-breadcrumb__item">
    <p class="mb-0 fs-6">
      About
    </p>
  </div>
  <div class="footer-breadcrumb__item">
    <p class="mb-0 fs-6">
      For Business
    </p>
  </div>
  <div class="footer-breadcrumb__item">
    <p class="mb-0 fs-6">
      Suggestions
    </p>
  </div>
  <div class="footer-breadcrumb__item">
    <p class="mb-0 fs-6">
      Help & FAQs
    </p>
  </div>
  <div class="footer-breadcrumb__item">
    <p class="mb-0 fs-6">
      Contacts
    </p>
  </div>
  <div class="footer-breadcrumb__item">
    <p class="mb-0 fs-6">
      Pricing
    </p>
  </div>
</section>