<app-header></app-header>
<main>
  <section class="container-lg" style="padding-top: 30px; padding-bottom: 30px;">
    <app-breadcrumbs></app-breadcrumbs>
    <section class="row">
      <section class="col-12 col-xl-8">
        <app-videos></app-videos>
        <app-people></app-people>
        <app-documents></app-documents>
      </section>
      <section id="aside" class="col-12 col-xl-4">
        <app-activity></app-activity>
        <app-channels></app-channels>
      </section>
    </section>
  </section>
</main>
<app-footer></app-footer>